![sql](./img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. You need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use `JOIN` to merge tables along logical columns
    - Grouping Data with SQL, inlcuding `HAVING`
- Goal 5: Convert SQL to pandas

## Goal 1: Summarize

To date the data we've seen has looked like [this.](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)

That is how we need data to look to run analysis and build models.<br>
But it doesn't _live_ there in it's native state.

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](./img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](./img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

## What does it mean to **Engineer Data**?

Let's start with a basic scenario:<br>
You are HR. You have *no* current database. 
How would you set it up?

Data needs considerations:
- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:
- Speed of retrieval
- How much data you are accessing
- How much you are storing

![etl](./img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](./img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
### SQL

[History of SQL](https://www.businessnewsdaily.com/5804-what-is-sql.html)

> Future users of large data banks must be protected from having to know how the data is organized in the machine (the internal representation). A prompting service which supplies such information is not a satisfactory solution. Activities of users at terminals and most application programs should remain unaffected when the internal representation of data is changed and even when some aspects of the external representation are changed. Changes in data representation will often be needed as a result of changes in query, update, and report traffic and natural growth in the types of stored information.
.
.
.<br>
<br>
In Section 1 a relational model of data is proposed as a basis for protecting users of formatted data systems from the potentially disruptive changes in data representation caused by growth in the data bank and changes in traffic.

[The original SQL paper from the 1970s.](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](./img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

***
### SQLite

<img src="./img/SQLite-Python.jpg" width=500>

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to other database types there are many different libraries:
- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

These all implement [PEP 249: DB API v2](https://www.python.org/dev/peps/pep-0249/)

### The Structure of a SQL Query

<img src='./img/sql_statement.jpg'/>

***
## Goal 3: Get going with sqlite!

In [ ]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

**Connection object** is your connection to the database, close that when you're done talking to the database all together. 

**Cursor object** is an iterator over a result set from a query.

In [ ]:
con = sqlite3.connect('data/flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

The `.excecute()` function will execute a sql statement and our `fetchall()` function will give us a list of all rows matching the execute statement.

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

In [ ]:
cursor.description

In [ ]:
cursor.execute("SELECT name, type FROM sqlite_master;")
print(cursor.fetchall())

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [ ]:
cursor.execute("SELECT * FROM airports as a;").fetchone()

In [ ]:
cursor.fetchone()

In [ ]:
cursor.fetchmany(4)

#### Use description

In [ ]:
cursor.description

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [ ]:
cursor.execute("PRAGMA table_info(airports);")
info = cursor.fetchall()
print(*info, sep = "\n")

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [ ]:
cursor.execute("PRAGMA table_info(airlines);")
info = cursor.fetchall()
print(*info, sep = "\n")

In [ ]:
cursor.execute("PRAGMA table_info(routes);")
info = cursor.fetchall()
print(*info, sep = "\n")

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [13]:
cursor.execute("""
SELECT name
FROM airlines
WHERE active = 'Y'
  AND country = 'United Kingdom';
""")
cursor.fetchall()

[('Astraeus',),
 ('Air Southwest',),
 ('Aurigny Air Services',),
 ('Air Wales',),
 ('AD Aviation',),
 ('Air Foyle',),
 ('British Airways',),
 ('British International Helicopters',),
 ('bmi',),
 ('bmibaby',),
 ('British Midland Regional',),
 ('British Mediterranean Airways',),
 ('BA CityFlyer',),
 ('Crest Aviation',),
 ('Eastern Airways',),
 ('Excel Airways',),
 ('Excel Charter',),
 ('easyJet',),
 ('First Choice Airways',),
 ('Flightline',),
 ('Flybe',),
 ('Flyglobespan',),
 ('GB Airways',),
 ('Highland Airways',),
 ('Jet2.com',),
 ('Monarch Airlines',),
 ('MyTravel Airways',),
 ('Norfolk County Flight College',),
 ('Kinloss Flying Training Unit',),
 ('ScotAirways',),
 ('Thomas Cook Airlines',),
 ('Thomsonfly',),
 ('Virgin Atlantic Airways',),
 ('Jc royal.britannica',),
 ('Royal European Airlines',),
 ('CB Airways UK ( Interliging Flights )',),
 ('Air Cudlua',),
 ('BBN-Airways',),
 ('Rainbow Air Euro',),
 ('All Europe',)]

In [14]:
cursor.execute(
"""
SELECT DISTINCT country
FROM airports;
"""
).fetchall()

[('Papua New Guinea',),
 ('Greenland',),
 ('Iceland',),
 ('Canada',),
 ('Algeria',),
 ('Benin',),
 ('Burkina Faso',),
 ('Ghana',),
 ("Cote d'Ivoire",),
 ('Nigeria',),
 ('Niger',),
 ('Tunisia',),
 ('Togo',),
 ('Belgium',),
 ('Germany',),
 ('United States',),
 ('Estonia',),
 ('Finland',),
 ('United Kingdom',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Falkland Islands',),
 ('Netherlands',),
 ('Ireland',),
 ('Denmark',),
 ('Faroe Islands',),
 ('Luxembourg',),
 ('Norway',),
 ('Poland',),
 ('Sweden',),
 ('South Africa',),
 ('Botswana',),
 ('Congo (Brazzaville)',),
 ('Congo (Kinshasa)',),
 ('Swaziland',),
 ('Central African Republic',),
 ('Equatorial Guinea',),
 ('Saint Helena',),
 ('Mauritius',),
 ('British Indian Ocean Territory',),
 ('Cameroon',),
 ('Zambia',),
 ('Comoros',),
 ('Mayotte',),
 ('Reunion',),
 ('Madagascar',),
 ('Angola',),
 ('Puerto Rico',),
 ('Gabon',),
 ('Sao Tome and Principe',),
 ('Mozambique',),
 ('Seychelles',),
 ('Chad',),
 ('Zimbabwe',),
 ('Malawi',),
 ('Lesotho',),
 ('Mali',),
 ('Gambia',),
 ('Spain',),
 ('Sierra Leone',),
 ('Guinea-Bissau',),
 ('Liberia',),
 ('Morocco',),
 ('Senegal',),
 ('Mauritania',),
 ('Guinea',),
 ('Cape Verde',),
 ('Ethiopia',),
 ('Maldives',),
 ('Burundi',),
 ('Somalia',),
 ('Egypt',),
 ('Kenya',),
 ('Libya',),
 ('Rwanda',),
 ('Sudan',),
 ('South Sudan',),
 ('Tanzania',),
 ('Uganda',),
 ('Albania',),
 ('Bulgaria',),
 ('Cyprus',),
 ('Croatia',),
 ('Greece',),
 ('France',),
 ('Saint Pierre and Miquelon',),
 ('Hungary',),
 ('Italy',),
 ('Slovenia',),
 ('Czech Republic',),
 ('Israel',),
 ('Malta',),
 ('Austria',),
 ('Portugal',),
 ('Bosnia and Herzegovina',),
 ('Romania',),
 ('Switzerland',),
 ('Turkey',),
 ('Moldova',),
 ('Macedonia',),
 ('Gibraltar',),
 ('Serbia',),
 ('Montenegro',),
 ('Slovakia',),
 ('Turks and Caicos Islands',),
 ('Dominican Republic',),
 ('Guatemala',),
 ('Honduras',),
 ('Jamaica',),
 ('Mexico',),
 ('Nicaragua',),
 ('Panama',),
 ('Costa Rica',),
 ('El Salvador',),
 ('Haiti',),
 ('Cuba',),
 ('Cayman Islands',),
 ('Bahamas',),
 ('Belize',),
 ('Cook Islands',),
 ('Fiji',),
 ('Tonga',),
 ('Kiribati',),
 ('Australia',),
 ('Wallis and Futuna',),
 ('Samoa',),
 ('American Samoa',),
 ('French Polynesia',),
 ('Vanuatu',),
 ('New Caledonia',),
 ('New Zealand',),
 ('Antarctica',),
 ('Afghanistan',),
 ('Bahrain',),
 ('Saudi Arabia',),
 ('Iran',),
 ('Argentina',),
 ('Jordan',),
 ('West Bank',),
 ('Kuwait',),
 ('Lebanon',),
 ('United Arab Emirates',),
 ('Oman',),
 ('Pakistan',),
 ('Iraq',),
 ('Syria',),
 ('Qatar',),
 ('Northern Mariana Islands',),
 ('Guam',),
 ('Marshall Islands',),
 ('Midway Islands',),
 ('Micronesia',),
 ('Palau',),
 ('Taiwan',),
 ('Japan',),
 ('South Korea',),
 ('Philippines',),
 ('Turkmenistan',),
 ('Brazil',),
 ('Chile',),
 ('Ecuador',),
 ('Paraguay',),
 ('Colombia',),
 ('Bolivia',),
 ('Suriname',),
 ('French Guiana',),
 ('Peru',),
 ('Uruguay',),
 ('Venezuela',),
 ('Guyana',),
 ('Antigua and Barbuda',),
 ('Barbados',),
 ('Dominica',),
 ('Martinique',),
 ('Guadeloupe',),
 ('Grenada',),
 ('Virgin Islands',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Aruba',),
 ('Netherlands Antilles',),
 ('Anguilla',),
 ('Trinidad and Tobago',),
 ('British Virgin Islands',),
 ('Saint Vincent and the Grenadines',),
 ('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Azerbaijan',),
 ('Russia',),
 ('Ukraine',),
 ('Belarus',),
 ('Tajikistan',),
 ('Uzbekistan',),
 ('India',),
 ('Sri Lanka',),
 ('Cambodia',),
 ('Bangladesh',),
 ('Hong Kong',),
 ('Laos',),
 ('Macau',),
 ('Nepal',),
 ('Bhutan',),
 ('Thailand',),
 ('Indonesia',),
 ('Vietnam',),
 ('Burma',),
 ('Malaysia',),
 ('Brunei',),
 ('East Timor',),
 ('Singapore',),
 ('Christmas Island',),
 ('Norfolk Island',),
 ('China',),
 ('Korea',),
 ('Mongolia',),
 ('Latvia',),
 ('Lithuania',),
 ('Armenia',),
 ('Eritrea',),
 ('Palestine',),
 ('Yemen',),
 ('Georgia',),
 ('Bermuda',),
 ('Solomon Islands',),
 ('Nauru',),
 ('Tuvalu',),
 ('Namibia',),
 ('Djibouti',),
 ('Montserrat',),
 ('Monaco',),
 ('Johnston Atoll',),
 ('Niue',),
 ('Western Sahara',),
 ('Cocos (Keeling) Islands',),
 ('South Georgia and the Islands',),
 ('Myanmar',),
 ('Svalbard',),
 ('North Korea',),
 ('Wake Island',)]

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="./img/venn.png" width=550>

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [15]:
cursor.execute("""
SELECT *
FROM routes as r
JOIN airports as a
ON a.code=r.dest;
""").fetchmany(5)

[(0,
  '2B',
  '410',
  'AER',
  '2965',
  'KZN',
  '2990',
  None,
  '0',
  'CR2',
  2910,
  '2990',
  'Kazan',
  'Kazan',
  'Russia',
  'KZN',
  'UWKD',
  '55.606186',
  '49.278728',
  '411',
  '4',
  'N',
  'Europe/Moscow'),
 (1,
  '2B',
  '410',
  'ASF',
  '2966',
  'KZN',
  '2990',
  None,
  '0',
  'CR2',
  2910,
  '2990',
  'Kazan',
  'Kazan',
  'Russia',
  'KZN',
  'UWKD',
  '55.606186',
  '49.278728',
  '411',
  '4',
  'N',
  'Europe/Moscow'),
 (2,
  '2B',
  '410',
  'ASF',
  '2966',
  'MRV',
  '2962',
  None,
  '0',
  'CR2',
  2883,
  '2962',
  'Mineralnyye Vody',
  'Mineralnye Vody',
  'Russia',
  'MRV',
  'URMM',
  '44.225072',
  '43.081889',
  '1054',
  '4',
  'N',
  'Europe/Moscow'),
 (3,
  '2B',
  '410',
  'CEK',
  '2968',
  'KZN',
  '2990',
  None,
  '0',
  'CR2',
  2910,
  '2990',
  'Kazan',
  'Kazan',
  'Russia',
  'KZN',
  'UWKD',
  '55.606186',
  '49.278728',
  '411',
  '4',
  'N',
  'Europe/Moscow'),
 (4,
  '2B',
  '410',
  'CEK',
  '2968',
  'OVB',
  '4078',
  None,
  '0',
  'CR2',
  3969,
  '4078',
  'Tolmachevo',
  'Novosibirsk',
  'Russia',
  'OVB',
  'UNNT',
  '55.012622',
  '82.650656',
  '365',
  '7',
  'N',
  'Asia/Omsk')]

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

### Let's answer some questions

- Which countries have the highest amount of active airlines?
- Which countries have the highest amount of inactive airlines?

In [16]:
# Which countries have the highest amount of active airports?
cursor.execute("""
SELECT COUNT() as num, country
FROM airlines
WHERE active='Y'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30;
""")
print(*cursor.fetchall(), sep='\n')

(141, 'United States')
(72, 'Russia')
(40, 'United Kingdom')
(37, 'Germany')
(34, 'Canada')
(26, 'Australia')
(25, 'China')
(24, 'Spain')
(23, 'Brazil')
(22, 'France')
(19, 'Japan')
(18, 'Italy')
(17, 'Indonesia')
(17, 'India')
(16, 'Turkey')
(16, 'Thailand')
(15, 'Sweden')
(14, 'Switzerland')
(13, 'Ukraine')
(13, 'Portugal')
(12, 'Mexico')
(12, 'Finland')
(12, 'Egypt')
(12, 'Austria')
(11, 'Peru')

In [17]:
# Which countries have the highest amount of inactive airports?
cursor.execute("""
SELECT COUNT() num, country
FROM airlines
WHERE active='N'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30;
""")
print(*cursor.fetchall(), sep='\n')

(939, 'United States')
(427, 'Mexico')
(367, 'United Kingdom')
(284, 'Canada')
(158, 'Russia')
(142, 'Spain')
(97, 'France')
(94, 'Germany')
(81, 'South Africa')
(80, 'Nigeria')
(76, 'Ukraine')
(73, 'Kazakhstan')
(72, 'Italy')
(67, 'Australia')
(55, 'Sweden')
(47, 'Sudan')
(46, 'Switzerland')
(45, 'China')
(43, 'Netherlands')
(38, 'Austria')
(36, 'Egypt')
(35, 'Chile')
(35, 'Brazil')
(35, 'Angola')
(34, 'Colombia')
(32, 'Thailand')
(32, 'Portugal')
(32, 'Mauritania')
(31, 'Indonesia')
(29, 'Kyrgyzstan')

### Your turn!

In your group write some code to answer the following question:

- What are the number of airports for each time zone?  Each row should have a number of airports and a time zone.

In [18]:
# What about airports by timezones?
cursor.execute("""
-- your code here;""")
print(*cursor.fetchall(), sep='\n')

In [19]:
#SOLUTION
cursor.execute("""
SELECT COUNT() num, timezone
FROM airports
GROUP BY timezone
ORDER BY num DESC;
""").fetchall()

[(628, 'America/New_York'),
 (373, 'America/Chicago'),
 (319, 'Europe/Berlin'),
 (258, 'America/Anchorage'),
 (232, 'Europe/Paris'),
 (226, 'America/Los_Angeles'),
 (222, 'Asia/Chongqing'),
 (193, 'Europe/London'),
 (159, 'America/Toronto'),
 (141, 'Asia/Calcutta'),
 (135, 'America/Denver'),
 (131, 'Asia/Tokyo'),
 (104, 'America/Cordoba'),
 (104, 'Africa/Johannesburg'),
 (100, 'Europe/Moscow'),
 (97, 'America/Sao_Paulo'),
 (93, 'Europe/Rome'),
 (92, '\\N'),
 (86, 'Europe/Stockholm'),
 (81, 'Australia/Brisbane'),
 (81, 'Asia/Tehran'),
 (78, 'America/Vancouver'),
 (77, 'Europe/Istanbul'),
 (74, 'Europe/Madrid'),
 (72, 'America/Bogota'),
 (67, 'Europe/Oslo'),
 (66, 'America/Edmonton'),
 (65, 'America/Winnipeg'),
 (65, 'America/Mexico_City'),
 (63, 'Asia/Manila'),
 (60, 'Europe/Athens'),
 (58, 'Asia/Bangkok'),
 (58, 'America/Caracas'),
 (57, 'Pacific/Port_Moresby'),
 (54, 'Pacific/Auckland'),
 (54, 'Africa/Nairobi'),
 (52, 'Australia/Sydney'),
 (52, 'America/Boa_Vista'),
 (50, 'Europe/Zurich'),
 (50, 'Europe/Helsinki'),
 (49, 'Asia/Jakarta'),
 (46, 'Asia/Karachi'),
 (45, 'Indian/Antananarivo'),
 (45, 'Australia/Perth'),
 (45, 'Asia/Kuala_Lumpur'),
 (44, 'America/Fortaleza'),
 (44, 'Africa/Algiers'),
 (43, 'Asia/Rangoon'),
 (43, 'America/Lima'),
 (42, 'Asia/Riyadh'),
 (42, 'Asia/Makassar'),
 (42, 'America/Phoenix'),
 (41, 'Europe/Amsterdam'),
 (38, 'Indian/Maldives'),
 (37, 'America/Santiago'),
 (37, 'America/Nassau'),
 (36, 'Asia/Katmandu'),
 (35, 'Europe/Warsaw'),
 (35, 'Europe/Brussels'),
 (35, 'America/Guayaquil'),
 (33, 'Europe/Kiev'),
 (32, 'Pacific/Majuro'),
 (32, 'Asia/Taipei'),
 (31, 'Africa/Addis_Ababa'),
 (30, 'Europe/Vienna'),
 (30, 'Asia/Seoul'),
 (30, 'Asia/Saigon'),
 (29, 'Pacific/Efate'),
 (29, 'Asia/Yekaterinburg'),
 (29, 'America/Havana'),
 (29, 'America/Costa_Rica'),
 (28, 'Europe/Copenhagen'),
 (28, 'Africa/Dar_es_Salaam'),
 (27, 'Europe/Prague'),
 (27, 'America/La_Paz'),
 (27, 'America/Halifax'),
 (27, 'Africa/Lagos'),
 (26, 'Pacific/Guadalcanal'),
 (26, 'Europe/Lisbon'),
 (26, 'Europe/Bucharest'),
 (26, 'America/Panama'),
 (25, 'Pacific/Tahiti'),
 (25, 'Pacific/Honolulu'),
 (25, 'Africa/Luanda'),
 (25, 'Africa/Gaborone'),
 (24, 'Asia/Irkutsk'),
 (23, 'Europe/Dublin'),
 (23, 'Australia/Adelaide'),
 (23, 'America/Paramaribo'),
 (22, 'Australia/Hobart'),
 (22, 'Australia/Darwin'),
 (22, 'Atlantic/Reykjavik'),
 (22, 'Asia/Kabul'),
 (22, 'America/Godthab'),
 (22, 'Africa/Tripoli'),
 (22, 'Africa/Maputo'),
 (22, 'Africa/Casablanca'),
 (21, 'Asia/Yakutsk'),
 (21, 'Asia/Qyzylorda'),
 (21, 'Asia/Jayapura'),
 (21, 'America/Cayenne'),
 (21, 'Africa/Cairo'),
 (20, 'Asia/Jerusalem'),
 (19, 'Asia/Vladivostok'),
 (19, 'Asia/Dubai'),
 (19, 'Antarctica/South_Pole'),
 (18, 'America/Regina'),
 (18, 'Africa/Windhoek'),
 (18, 'Africa/Kinshasa'),
 (17, 'Pacific/Fiji'),
 (17, 'Asia/Omsk'),
 (16, 'Asia/Magadan'),
 (16, 'Asia/Krasnoyarsk'),
 (16, 'America/Mazatlan'),
 (16, 'Africa/Harare'),
 (15, 'Asia/Colombo'),
 (15, 'America/Puerto_Rico'),
 (15, 'America/Campo_Grande'),
 (15, 'Africa/Lubumbashi'),
 (14, 'Europe/Budapest'),
 (14, 'America/Santo_Domingo'),
 (14, 'America/Port-au-Prince'),
 (14, 'America/Guyana'),
 (14, 'Africa/Libreville'),
 (14, 'Africa/Khartoum'),
 (13, 'Europe/Zagreb'),
 (13, 'Asia/Phnom_Penh'),
 (13, 'Asia/Hong_Kong'),
 (13, 'Asia/Dhaka'),
 (13, 'Africa/Tunis'),
 (13, 'Africa/Lusaka'),
 (12, 'Asia/Samarkand'),
 (12, 'America/Montevideo'),
 (12, 'America/Belize'),
 (11, 'Pacific/Noumea'),
 (11, 'Asia/Vientiane'),
 (11, 'Asia/Ulaanbaatar'),
 (11, 'Asia/Aden'),
 (11, 'America/Tegucigalpa'),
 (11, 'America/Managua'),
 (11, 'Africa/Nouakchott'),
 (11, 'Africa/Mogadishu'),
 (10, 'Indian/Reunion'),
 (10, 'Indian/Mahe'),
 (10, 'Atlantic/Canary'),
 (10, 'Atlantic/Azores'),
 (10, 'Asia/Baghdad'),
 (10, 'America/Guatemala'),
 (10, 'Africa/Douala'),
 (9, 'Europe/Tallinn'),
 (9, 'Asia/Baku'),
 (9, 'America/St_Johns'),
 (9, 'Africa/Kampala'),
 (9, 'Africa/Dakar'),
 (8, 'Pacific/Tarawa'),
 (8, 'Pacific/Rarotonga'),
 (8, 'Europe/Vilnius'),
 (8, 'Europe/Minsk'),
 (8, 'Europe/Bratislava'),
 (8, 'Asia/Ashgabat'),
 (8, 'America/St_Thomas'),
 (8, 'America/Curacao'),
 (8, 'America/Asuncion'),
 (8, 'Africa/Freetown'),
 (8, 'Africa/Blantyre'),
 (8, 'Africa/Bamako'),
 (7, 'Europe/Sofia'),
 (7, 'Europe/Malta'),
 (7, 'Australia/Melbourne'),
 (7, 'Atlantic/Cape_Verde'),
 (7, 'Asia/Oral'),
 (7, 'Arctic/Longyearbyen'),
 (7, 'America/Jamaica'),
 (7, 'America/Blanc-Sablon'),
 (7, 'Africa/Niamey'),
 (7, 'Africa/Ndjamena'),
 (7, 'Africa/Juba'),
 (7, 'Africa/Abidjan'),
 (6, 'Pacific/Tongatapu'),
 (6, 'Asia/Singapore'),
 (6, 'Asia/Pyongyang'),
 (6, 'Asia/Muscat'),
 (6, 'Asia/Damascus'),
 (6, 'Asia/Amman'),
 (6, 'America/Tijuana'),
 (6, 'America/Guadeloupe'),
 (6, 'America/Grand_Turk'),
 (6, 'Africa/Conakry'),
 (6, 'Africa/Accra'),
 (5, 'Europe/Ljubljana'),
 (5, 'Atlantic/Stanley'),
 (5, 'Asia/Tbilisi'),
 (5, 'America/St_Vincent'),
 (5, 'America/Hermosillo'),
 (5, 'Africa/Brazzaville'),
 (4, 'Pacific/Marquesas'),
 (4, 'Pacific/Apia'),
 (4, 'Indian/Comoro'),
 (4, 'Europe/Sarajevo'),
 (4, 'Europe/Belgrade'),
 (4, 'Asia/Yerevan'),
 (4, 'Asia/Nicosia'),
 (4, 'Asia/Macau'),
 (4, 'Asia/Dushanbe'),
 (4, 'Asia/Bishkek'),
 (4, 'America/Martinique'),
 (4, 'Africa/Kigali'),
 (4, 'Africa/Asmera'),
 (3, 'Pacific/Truk'),
 (3, 'Pacific/Saipan'),
 (3, 'Pacific/Palau'),
 (3, 'Pacific/Pago_Pago'),
 (3, 'Pacific/Galapagos'),
 (3, 'Europe/Riga'),
 (3, 'Europe/Chisinau'),
 (3, 'Atlantic/Faeroe'),
 (3, 'Asia/Qatar'),
 (3, 'Asia/Hovd'),
 (3, 'Asia/Dili'),
 (3, 'America/St_Lucia'),
 (3, 'America/St_Kitts'),
 (3, 'America/Rio_Branco'),
 (3, 'America/Grenada'),
 (3, 'America/Dominica'),
 (3, 'America/Coral_Harbour'),
 (3, 'America/Cayman'),
 (3, 'Africa/Monrovia'),
 (3, 'Africa/Maseru'),
 (3, 'Africa/El_Aaiun'),
 (3, 'Africa/Djibouti'),
 (3, 'Africa/Bangui'),
 (2, 'Pacific/Wallis'),
 (2, 'Pacific/Guam'),
 (2, 'Pacific/Chatham'),
 (2, 'Indian/Mauritius'),
 (2, 'Europe/Skopje'),
 (2, 'Europe/Podgorica'),
 (2, 'Europe/Guernsey'),
 (2, 'Atlantic/St_Helena'),
 (2, 'Atlantic/South_Georgia'),
 (2, 'Atlantic/Bermuda'),
 (2, 'Asia/Kuwait'),
 (2, 'Asia/Gaza'),
 (2, 'Asia/Brunei'),
 (2, 'Asia/Beirut'),
 (2, 'Asia/Bahrain'),
 (2, 'America/Tortola'),
 (2, 'America/Thule'),
 (2, 'America/Scoresbysund'),
 (2, 'America/Port_of_Spain'),
 (2, 'America/Montserrat'),
 (2, 'America/Miquelon'),
 (2, 'America/El_Salvador'),
 (2, 'America/Dawson_Creek'),
 (2, 'America/Danmarkshavn'),
 (2, 'America/Antigua'),
 (2, 'Africa/Sao_Tome'),
 (2, 'Africa/Ouagadougou'),
 (2, 'Africa/Malabo'),
 (2, 'Africa/Lome'),
 (2, 'Africa/Bissau'),
 (1, 'Pacific/Wake'),
 (1, 'Pacific/Ponape'),
 (1, 'Pacific/Norfolk'),
 (1, 'Pacific/Niue'),
 (1, 'Pacific/Nauru'),
 (1, 'Pacific/Midway'),
 (1, 'Pacific/Kosrae'),
 (1, 'Pacific/Johnston'),
 (1, 'Pacific/Gambier'),
 (1, 'Pacific/Funafuti'),
 (1, 'Pacific/Enderbury'),
 (1, 'Pacific/Easter'),
 (1, 'Indian/Mayotte'),
 (1, 'Indian/Cocos'),
 (1, 'Indian/Christmas'),
 (1, 'Indian/Chagos'),
 (1, 'Europe/Vaduz'),
 (1, 'Europe/Tirane'),
 (1, 'Europe/Monaco'),
 (1, 'Europe/Mariehamn'),
 (1, 'Europe/Luxembourg'),
 (1, 'Europe/Kaliningrad'),
 (1, 'Europe/Jersey'),
 (1, 'Europe/Isle_of_Man'),
 (1, 'Europe/Gibraltar'),
 (1, 'Asia/Thimphu'),
 (1, 'America/Barbados'),
 (1, 'America/Aruba'),
 (1, 'America/Anguilla'),
 (1, 'Africa/Porto-Novo'),
 (1, 'Africa/Mbabane'),
 (1, 'Africa/Bujumbura'),
 (1, 'Africa/Banjul')]

In [20]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

### Using DB Browser for SQLite 

![](https://sqlitebrowser.org/images/screenshot.png)

DB Browser for SQLite is a high quality, visual, open source tool to create, design, and edit database files compatible with SQLite.

DB4S is for users and developers who want to create, search, and edit databases. DB4S uses a familiar spreadsheet-like interface, and complicated SQL commands do not have to be learned.

#### Let's practice a few queries in DB Browser for SQLite

## Goal 5: Transfering from sqlite to pandas

In [21]:
import pandas as pd
pd_con = sqlite3.connect("./data/flights.db")
df = pd.read_sql_query("select * from airports limit 5;", pd_con)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [22]:
# Which countries have the highest amount of active airports?
sql = '''
SELECT COUNT() num, country
FROM airlines
WHERE active='Y'
GROUP BY country
HAVING num > 10
ORDER BY num DESC
LIMIT 30;
'''
pd.read_sql_query(sql, pd_con)

    num         country
0   141   United States
1    72          Russia
2    40  United Kingdom
3    37         Germany
4    34          Canada
5    26       Australia
6    25           China
7    24           Spain
8    23          Brazil
9    22          France
10   19           Japan
11   18           Italy
12   17       Indonesia
13   17           India
14   16          Turkey
15   16        Thailand
16   15          Sweden
17   14     Switzerland
18   13         Ukraine
19   13        Portugal
20   12          Mexico
21   12         Finland
22   12           Egypt
23   12         Austria
24   11            Peru

In [23]:
pd_con.close()

## Your Turn!

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

In your group, answer the following questions about the data:
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [24]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')
cur = conn.cursor()

In [25]:
# What are the max and min dates in the Invoice table?
sql = '''
-- YOUR CODE HERE
'''
pd.read_sql_query(sql, conn)

TypeError: 'NoneType' object is not iterable

In [26]:
#SOLUTION
# What are the max and min dates in the Invoice table?
sql = '''
Select min(InvoiceDate), max(InvoiceDate)
FROM Invoice;
'''
pd.read_sql_query(sql, conn)

      min(InvoiceDate)     max(InvoiceDate)
0  2009-01-01 00:00:00  2013-12-22 00:00:00

In [ ]:
# What tables would you need to answer "what is your most popular track?"

In [ ]:
#SOLUTION
# What tables would you need to answer "what is your most popular track?"
#Track & InvoiceLine

In [ ]:
# What values would you need from each table?

In [ ]:
#SOLUTION
# What values would you need from each table?
# InvoiceLine-trackid, Track-trackid & name

In [ ]:
# Put it all together:
# You need to create a query that can rank tracks in term of popularity.

sql = '''
-- YOUR CODE HERE
'''
pd.read_sql_query(sql, conn)

In [27]:
#SOLUTION
# Put it all together:
# You need to create a query that can rank tracks in term of popularity.

sql = '''
Select count(InvoiceLine.TrackId) as sales, Track.Name
FROM InvoiceLine 
JOIN Track 
ON InvoiceLine.TrackId=Track.TrackId
GROUP BY InvoiceLine.TrackId
Order BY sales DESC;
'''
pd.read_sql_query(sql, conn)

      sales                                               Name
0         2                                  Balls to the Wall
1         2                                   Inject The Venom
2         2                                         Snowballed
3         2                                           Overdose
4         2                                    Deuces Are Wild
...     ...                                                ...
1979      1                                      Sing Joyfully
1980      1                           Metopes, Op. 29: Calypso
1981      1  Symphony No. 2, Op. 16 -  "The Four Temperamen...
1982      1    Étude 1, In C Major - Preludio (Presto) - Liszt
1983      1  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...

[1984 rows x 2 columns]

In [ ]:
# Advanced: get the artist who sang the song!
sql = '''
-- YOUR CODE HERE
'''
pd.read_sql_query(sql, conn)